<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd">



	<bean id="wordsRepository" class="repository.WordsRepository" />

	<bean id="gameService" class="service.GameService">
		<constructor-arg ref="wordsRepository" />
	</bean>

	<bean id="welcomeController" class="controller.WelcomeController" />

	<bean id="gameController" class="controller.GameController"/>

	<bean id="historyController" class="controller.HistoryController"/>

	<bean id="multiPlayer" class="controller.MultiPlayerController"/>

	<bean id="multiPlayerGameStarted" class="controller.MultiPlayerGameStarted"/>


</beans>