.game {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    margin: 2em auto;
    background: #f7f9fc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 2em;
}

.game h2 {
    margin-bottom: 0.8em;
}

.game p {
    margin-bottom: 0.2em;
}

.game .letters {
    display: flex;
    flex: 0 1 0;
    gap: 5px;
    margin-top: 1em;
}

.game .letters button {
    padding: 0.2em 0.6em;
    cursor: pointer;
    border: 2px solid #02027a;
    border-radius: 10px;
    background-color: #7CB9E8;
    color: #02027a;
    margin-bottom: 1em;
}

.game .letters button:hover {
    padding: 0.2em 0.6em;
    cursor: pointer;
    border: 2px solid white;
    border-radius: 10px;
    letter-spacing: 0.1em;
    background-color: #02027a;
    color: whitesmoke;
    transition: 300ms;
}

.game .letters button:disabled {
    background-color: lightcoral;
    cursor: not-allowed;
}


.game img {
    width: 40%;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 1em;
}

.game .restart-btn button {
    margin-top: 1em;
    width: auto;
    align-self: center;
    padding: 0.6em 1.2em;
    border: 2px solid #02027a;
    border-radius: 20px;
    letter-spacing: 0.1em;
    background-color: #7CB9E8;
    color: #02027a;
    cursor: pointer;
}

.game .restart-btn button:hover {
    margin-top: 1em;
    width: auto;
    align-self: center;
    padding: 0.6em 1.2em;
    border: 2px solid #02027a;
    border-radius: 20px;
    letter-spacing: 0.1em;
    background-color: #7CB9E8;
    color: white;
    cursor: pointer;
    transition: 500ms;
}