@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

* {
    margin: 0;
    font-family: 'Source Code Pro', monospace;
    color: #333;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2em;
    border-bottom: 3px solid #333;
    background-color: #00004B;
}

.nav-bar .nav-title {
    text-decoration: none;
}

.nav-bar h1 {
    margin-left: 1em;
    color: white;
    cursor: pointer;
}

.nav-bar .links a {
    margin-left: 2em;
    color: white;
    text-decoration: none;
}

.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 5em 0;
}

.home img {
    width: 100px;
    height: auto;
    margin: 2em auto;
}

.home h1 {
    text-align: center;
}

.start-gameButtons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.start-gameButtons button {
    margin-bottom: 2em;
    padding: 0.8em 0.5em;
    border-radius: 0.5em;
    border-color: #010142;
    background-color: whitesmoke;
    color: #00004B;
    cursor: pointer;
}

.start-gameButtons button:hover {
    margin-bottom: 2em;
    padding: 0.8em 0.5em;
    border-radius: 0.5em;
    border-color: whitesmoke;
    background-color: #00004B;
    color: whitesmoke;
    cursor: pointer;
}

.footer {
    text-align: center;
    background-color: #00004B;
    position: fixed;
    bottom: 0;
    width: 100%;
    border-top: 2px solid white;
    padding: 1em;
}

.footer p {
    color: white;
}

.footer a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

footer a:hover {
    text-decoration: solid;
}

.login {
    display: flex;
    padding: 3em 1em;
    border: 2px solid black;
    border-radius: 15px;
    background-color: #00004B;
    justify-content: center;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-form img {
    filter: invert(1);
    width: 20%;
    margin-bottom: 1em;
}

.login-form h2 {
    color: whitesmoke;
    padding-bottom: 0.5em;
}

.login-form label {
    display: block;
    color: whitesmoke;
}

.login-form input {
    display: block;
    padding: 0.5em;
    border: 2px solid white;
    border-radius: 5px;
    font-size: 15px;
}

.login-form form {
    display: flex;
    flex-direction: column;

}

.login-form p {
    color: whitesmoke;
    margin-bottom: 1em;
}

.login-form form button {
    justify-content: center;
}

.login-form input:focus {
    border-color: #87ceeb;
    box-shadow: 0 0 5px rgba(135, 206, 235, 0.7);
}

.login-form button {
    margin-top: 1em;
    width: auto;
    align-self: center;
    padding: 0.6em 1.2em;
    border: 2px solid #02027a;
    border-radius: 20px;
    letter-spacing: 0.1em;
    background-color: #7CB9E8;
    color: #02027a;
    cursor: pointer;
}

.login-form button:hover {
    margin-top: 1em;
    padding: 0.6em 1.2em;
    border: 2px solid white;
    border-radius: 20px;
    letter-spacing: 0.1em;
    background-color: #02027a;
    color: whitesmoke;
    cursor: pointer;
    transition: 500ms;
}

.login-form label {
    padding-bottom: 0.5em;
}

.game {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    margin: 2em auto;
    background: #f7f9fc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 2em;
}

.game h2 {
    margin-bottom: 0.8em;
}

.game p {
    margin-bottom: 0.2em;
}

.game .letters {
    display: flex;
    flex: 0 1 0;
    gap: 5px;
    margin-top: 1em;
}

.game .letters button {
    padding: 0.2em 0.6em;
    cursor: pointer;
    border: 2px solid #02027a;
    border-radius: 10px;
    background-color: #7CB9E8;
    color: #02027a;
    margin-bottom: 1em;
}

.game .letters button:hover {
    padding: 0.2em 0.6em;
    cursor: pointer;
    border: 2px solid white;
    border-radius: 10px;
    letter-spacing: 0.1em;
    background-color: #02027a;
    color: whitesmoke;
    transition: 300ms;
}

.game .letters button:disabled {
    background-color: lightcoral;
    cursor: not-allowed;
}


.game img {
    width: 40%;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 1em;
}

.game .restart-btn button {
    margin-top: 1em;
    width: auto;
    align-self: center;
    padding: 0.6em 1.2em;
    border: 2px solid #02027a;
    border-radius: 20px;
    letter-spacing: 0.1em;
    background-color: #7CB9E8;
    color: #02027a;
    cursor: pointer;
}

.game .restart-btn button:hover {
    margin-top: 1em;
    width: auto;
    align-self: center;
    padding: 0.6em 1.2em;
    border: 2px solid #02027a;
    border-radius: 20px;
    letter-spacing: 0.1em;
    background-color: #7CB9E8;
    color: white;
    cursor: pointer;
    transition: 500ms;
}

.word-giving {
    padding: 5em;
    background-color: #00004B;
    border-radius: 20px;
    border: 2px solid lightblue;
    box-shadow: 0 4px 8px rgba(22, 73, 145, 0.5);
}

.word-giving form {
    display: flex;
    flex-direction: column;
}

.word-giving form label {
    align-self: center;
    color: whitesmoke;
    margin-bottom: 0.5em;
    font-size: 20px;
}

.word-giving input {
    display: block;
    padding: 0.5em;
    border: 2px solid white;
    border-radius: 5px;
    border-color: white;
    font-size: 15px;
    margin-bottom: 1em;
}

.word-giving select {
    padding: 0.5em;
    border: 2px solid white;
    border-radius: 5px;
    border-color: white;
    margin-bottom: 1em;
}

.word-giving button {
    margin-top: 1em;
    width: auto;
    align-self: center;
    padding: 0.6em 1.2em;
    border: 2px solid #02027a;
    border-radius: 20px;
    letter-spacing: 0.1em;
    background-color: #7CB9E8;
    color: #02027a;
    cursor: pointer;
}

.word-giving button:hover {
    margin-top: 1em;
    width: auto;
    align-self: center;
    padding: 0.6em 1.2em;
    border: 2px solid #02027a;
    border-radius: 20px;
    letter-spacing: 0.1em;
    background-color: #7CB9E8;
    color: white;
    cursor: pointer;
    transition: 500ms;
}