@charset "UTF-8";

body {
	background-color: #f4f4f4;
}

h2 {
	text-align: center;
}

table {
	width: 70%;
	border-collapse: collapse;
	margin: 20px auto;
}

th, td {
	padding: 8px 12px;
	border: 1px solid #ccc;
	text-align: center;
}

th {
	background-color: #f2f2f2;
}

button {
	background-color: #4CAF50; /* Green */
	border: none;
	color: white;
	padding: 5px 10px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 12px;
	margin: 4px 2px;
	cursor: pointer;
	border-radius: 5px;
}
#homeButton{
	background-color: orange;
}

button:hover {
	background-color: #45a049;
}